@page "/AddInterest/{StreetName}/{HouseNumber:int}/{IdOfChild:int}"
@using Family_Assignment.Data
@inject IFamilyReader fileReader
@inject NavigationManager NavMgr
<h3>AddInterest</h3>

<EditForm Model="@interestToAdd" OnValidSubmit="@AddNewInterest">
        <DataAnnotationsValidator/> <ValidationSummary/>
        <div class="form-group"> Type:<br/> <InputText @bind-Value="interestToAdd.Type"/> </div>
        <div class="form-group"> Description:<br/> <InputTextArea @bind-Value="interestToAdd.Description"/> </div>


        <p class="actions"> <button class="btn btn-outline-dark" type="submit">Create</button> </p>
    </EditForm>

