@page "/"
@using Syncfusion.Blazor.Charts
@using Family_Assignment.Data
@inject IFamilyReader fileReader
<h1> Hello world</h1>
@* <SfAccumulationChart Title="Mobile Browser Statistics"> *@
@*     <AccumulationChartSeriesCollection> *@
@*         <AccumulationChartSeries DataSource="@StatisticsDetails" XName="Browser" YName="Users" *@
@*                                  Name="Browser"> *@
@*         </AccumulationChartSeries> *@
@*     </AccumulationChartSeriesCollection> *@
@* *@
@*     <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings> *@
@* </SfAccumulationChart> *@




