@inherits LayoutComponentBase
@using Family_Assignment.Authentication
@using Family_Assignment.Pages
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<AuthorizeView>
    <NotAuthorized >
        <div class="page">
            <div class="main">
                <div class="top-row px-0">
                    <Login_Register></Login_Register>
                </div>

            </div>
        </div>
    </NotAuthorized>
    <Authorized >
        <div class="page">
            <div class="sidebar">
                <NavMenu/>
            </div>
            <div class="main">
                <div class="top-row px-0">
                     
                </div>
                <div class="content px-0">
                    @Body
                </div>
            </div >
        </div>
    </Authorized>
</AuthorizeView>

