@using Family_Assignment.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


  <nav class="bg-gradient-to-r from-blue-500 to-green-800 flex items-center justify-between p-6 h-20 bg-white shadow-sm">
    <div class="py-5 px-3 rounded-full bg-gradient-to-r from-green-500 to-blue-800 text-sm text-white font-semibold shadow-xl hover:cursor-pointer hover:shadow-lg">Family</div>
    <ul>
      <li class="space-x-5 text-xl">
        <a href="/" class="hidden sm:inline-block text-white hover:text-blue-300">Home</a>
        <a href="/FamilyList" class="hidden sm:inline-block text-white hover:text-blue-300">List</a>
        <button id="buttons" class="hidden sm:inline-block text-white hover:text-blue-300" @onclick="PerformLogout" target="_blank">SignOut</button>
      </li>
      <div class="sm:hidden space-y-1 hover:cursor-pointer">
        <span class="w-10 h-1 bg-gray-600 rounded-full block"></span>
        <span class="w-10 h-1 bg-gray-600 rounded-full block"></span>
        <span class="w-10 h-1 bg-gray-600 rounded-full block"></span>
      </div>
    </ul>
  </nav>


@code {
  
  private async Task PerformLogout()
  {
    ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
    NavigationManager.NavigateTo("/");
  }

}